@mixin MQ($canvas) {
  @if $canvas == M {
    @media only screen and (min-width: $M) {
      @content;
    }
  }

  @else if $canvas == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

@mixin retina {
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-center() {
  margin-right: auto;
  margin-left: auto;
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin font-set($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}

@mixin absolute-pseudo-element() {
  content: "";
  position: absolute;
}

@mixin clear-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
