body {
  margin: 0;

  font-family: $font-primary;
  color: $primary-color;
}

img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
