$font-back: 'Arial', sans-serif;
$font-primary: 'Open Sans', $font-back;

$primary-color: #283645;
$secondary-color: #ffffff;
$third-color: #d22856;
$fourth-color: #e5e5e5;
$fifth-color: #000000;
$sixth-color: #2aab6d;
$seventh-color: #dedede;
$eighth-color: #3dc644;
$tenth-color: #f25b26;
$eleventh-color: #efefef;
$twelfth-color: #f2f2f2;
$thirteenth-color: #3dc644;
$fourteenth-color: #f25b26;
$fifteenth-color: #1c9b5e;

$M: 660px;
$L: 960px;
