.controls {
  @include center();

  &--reviews {
    margin-top: 36px;
  }

  &--price {
    margin-top: 42px;
  }

  &__toggle {
    width: 6px;
    height: 6px;
    margin-right: 9.5px;
    margin-left: 9.5px;
    padding: 0;

    font-size: 0;
    line-height: 0;

    background-color: transparentize($primary-color, .7);
    border: none;
    border-radius: 50%;

    transition-duration: .15s;

    &:not(&--current):hover {
      background-color: transparentize($primary-color, .4);
    }

    &:not(&--current):active {
      background-color: transparentize($primary-color, .9);
    }

    &--current {
      background-color: $secondary-color;
      box-shadow: 0 0 0 3px $primary-color;
    }
  }
}

@include MQ(M) {
  .controls {
    &--reviews {
      margin-top: 37px;
    }

    &--price {
      display: none;
    }
  }
}

@include MQ(L) {
  .controls {
    &--reviews {
      display: none;
    }
  }
}
