.features {

  &__title {
    @include font-set(300, 24px, 29px);

    //box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 36px;

    text-align: center;
  }


    &__span {
      @include margin-center();

      display: block;

      &--top {
        margin-bottom: 28px;
      }
    }

  &__wrapper {
    width: 100%;
    background-color: $twelfth-color;
    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
    background-position: -5px 0;
    background-size: contain;
  }

  &__list {
    @include clear-list();

    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding-top: 81px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 284px;

    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: left 50% bottom -42px;
    background-size: 157px 320px;

    @include retina {
      background-image: url(../img/iphone-screen-mobile@2x.png);
    }
  }

  &__name {
    @include font(18px, 18px);
  }

  &__item {
    margin-bottom: 34px;

    text-align: center;
  }

  &__text {
    @include font(14px, 24px);

    margin-bottom: 0;
  }
}

@include MQ(M) {
  .features {
    &__title {
      @include font(40px, 48px);

      padding-top: 49px;
      padding-bottom: 48px;
    }

    &__span {
      &--top {
        width: 620px;
        margin-bottom: 0;
      }

      &--bottom {
        width: 360px;
      }
    }

    &__wrapper {
      width: 100%;
    }

    &__inner {
      @include margin-center();
      width: 660px;

      background-image: url(../img/iphone-screen-3-tablet@1x.png);
      background-repeat: no-repeat;
      background-position: left 21px bottom 0;
      background-size: 268px 481px;

      @include retina {
        background-image: url(../img/iphone-screen-3-tablet@2x.png)
      }
    }

    &__list {
      width: 50%;
      margin-left: auto;
      padding-top: 76px;
      padding-left: 0;
      padding-bottom: 3px;

      background: none;
    }

    &__item {
      margin-bottom: 38px;

      text-align: left;
    }
  }
}

@include MQ(L) {
  .features {
    &__title {
      @include font(50px, 60px);

      padding-top: 67px;
      padding-bottom: 51px;
    }

    &__span {
      &--top {
        width: 800px;
        margin-bottom: 0px;
      }

      &--bottom {
        width: 500px;
      }
    }

    &__wrapper {
      width: 100%;
    }

    &__inner {
      width: 960px;

      background: none;
    }

    &__list {
      display: flex;
      justify-content: space-around;
      width: 100%;
      min-height: 560px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    &__item {
      width: 292px;
      padding-top: 382px;

      text-align: center;

      background-repeat: no-repeat;
      background-position: 50% 24px;
      background-size: 292px 302px;

      &--1 {
        background-image: url(../img/iphone-screen-1-desktop@1x.png);
      }

      &--2 {
        background-image: url(../img/iphone-screen-2-desktop@1x.png);
      }

      &--3 {
        background-image: url(../img/iphone-screen-3-desktop@1x.png);
      }
    }

    &__name {
      @include font(30px, 30px);
    }

    &__text {
      @include font(18px, 30px);

      margin-top: 24px;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}
