.features {

  &__title {
    box-sizing: border-box;
    min-height: 216px;
    margin-top: 0;
    margin-bottom: 0;
  }


    &__span {
      @include margin-center();

      display: block;
    }

  &__list {
    @include clear-list();

    box-sizing: border-box;
    width: 100%;
    min-height: 787px;
    padding-top: 84px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__text {
    margin-bottom: 0;
  }
}

@include MQ(M) {
  .features {
    &__title {
      min-height: 240px;
    }

    &__span {
      &--top {
        width: 620px;
      }

      &--bottom {
        width: 360px;
      }
    }

    &__wrapper {
      @include margin-center();
      width: 660px;
    }

    &__list {
      width: 50%;
      margin-left: auto;
      min-height: 486px;
      padding-left: 0;
    }
  }
}

@include MQ(L) {
  .features {
    &__title {
      min-height: 324px;
    }

    &__wrapper {
      width: 960px;

    }

    &__list {
      display: flex;
      justify-content: space-around;
      width: 100%;
      min-height: 560px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    &__item {
      width: 292px;
      padding-top: 350px;
    }
  }
}
