.gallery-item {
  &--famous {
    position: relative;

    box-sizing: border-box;
    width: 100%;

    &::before {
        @include font-set(700, 12px, 24px);

        content: "Панорама дня";
        position: absolute;
        top: 0;
        right: 6.25%;

        max-width: 35%;
        padding-top: 6px;
        padding-right: 20px;
        padding-bottom: 6px;
        padding-left: 19px;

        color: $secondary-color;
        text-transform: uppercase;

        background-color: $third-color;
      }
  }

  &__link {
    display: block;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;

    &--famous {
      width: 100%;
      height: 137px;

      background-color: #616664;
      background-image: url(../img/panorama-mobile@1x.jpg);
      background-position: 50%;
      background-size: cover;

      @include retina{
        background-image: url(../img/panorama-mobile@2x.jpg);
      }
    }
  }

  &__inner {
    box-sizing: border-box;
    width: 100%;
    padding-right: 18px;
    padding-left: 20px;
  }

  &__comment {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 18px;

    background-color: $twelfth-color;

    &--famous {
      box-sizing: border-box;
      width: 100%;
    }

    &-top {
      @include font-set(700, 14px, 24px);

      font-style: normal;
    }

    &-footer {
      margin-top: 9px;
    }
  }

  &__time {
    @include font-set(300, 12px, 24px);

    text-transform: uppercase;
  }

  &__text {
    @include font(14px, 24px);

    margin: 0;
  }

  &__like {
    &-btn {
      padding: 0;
      margin-right: 15px;

      font-size: 0;

      background: transparent;
      border: none;
    }

    &-count {
      @include font(12px, 24px);
      text-transform: uppercase;

      color: $third-color;
    }
  }

  &__svg-heart {
    margin-top: 5px;

    fill: $third-color;
  }
}

@include MQ(M) {
  .gallery-item {
    display: flex;
    flex-direction: column;
    width: 46.8%;
    margin-right: 10px;
    margin-left: 10px;

    &--famous {
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;

      &::before {
        top: 57px;
        right: 3%;
      }
    }

    &__link {
      &--famous {
        width: 100%;
        height: 509px;

        background-image: url(../img/panorama-tablet@1x.jpg);

        @include retina{
          background-image: url(../img/panorama-tablet@2x.jpg);
        }
      }
    }

    &__comment {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 155px;
      margin-bottom: 20px;
      padding-top: 24px;
      padding-right: 16px;
      padding-bottom: 21px;
      padding-left: 27px;

      &--famous {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        min-height: auto;
        margin-bottom: 50px;
        padding-bottom: 24px;
      }

      &-footer {
        display: flex;
        justify-content: space-between;

        margin-top: auto;
      }
    }

    &__text {
      margin-bottom: 13px;

      &--famous {
        order: 1;
        margin-bottom: 0;
      }
    }

    &__like-btn {
      order: 1;
      margin-left: 17px;
    }

    &__svg-heart {
      margin-top: 0;
    }
  }
}

@include MQ(L) {
  .gallery-item {
    width: 300px;

    &--famous {
      width: 100%;

      &::before {
        top: 54px;
        right: 10.8%;
      }
    }

    &__link {
      &--famous {
        width: 100%;
        height: 506px;

        background-image: url(../img/panorama-desktop@1x.jpg);

        @include retina{
          background-image: url(../img/panorama-desktop@2x.jpg);
        }
      }
    }

    &__comment {
      margin-bottom: 54px;
      padding-right: 16px;
      padding-left: 27px;

      &--famous {
        @include margin-center();

        width: 940px;
        margin-bottom: 50px;
        padding-bottom: 23px;
      }

      &-footer {
        display: flex;
        justify-content: space-between;

        margin-top: auto;
      }
    }
  }
}
