.gallery {
  width: 100%;

  &__wrapper {
    @include margin-center();

    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@include MQ(M) {
  .gallery {

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@include MQ(L) {
  .gallery {

    &__wrapper {
      width: 960px;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
