.intro {
  &--index {
    min-height: 271px;
    margin-top: 395px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-right: 20px;
    padding-left: 19px;
  }

  &__title {
    display: none;
  }

  &__btn {
    min-height: 55px;
  }

  &__inner {
    display: flex;
    min-height: 56px;
    margin-top: 32px;
  }

  &__text {
    min-height: 45px;
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@include MQ(M) {
  .intro {
    @include center();

    &--index {
      margin-top: 73px;
    }

    &__wrapper {
      width: 620px;
      padding-top: 25px;
    }

    &__title {
      display: block;
      width: 200px;
      min-height: 140px;
      margin-top: 0;
      margin-left: 51px;
      margin-bottom: 0;
    }

    &__btn {
      width: 300px;
      margin-top: 29px;
    }

    &__inner {
      width: 300px;
      margin-top: 46px;
    }

    &__text {
      width: 300px;
      margin-top: 39px;
      margin-bottom: 110px;
    }
  }
}
