.intro {
  box-sizing: border-box;
  min-height: 170px;
  &--index {
    min-height: 271px;
    margin-top: 395px;
  }

  &__wrapper {
    &--index {
      display: flex;
      flex-direction: column;
      padding-top: 28px;
      padding-right: 20px;
      padding-left: 19px;
    }
  }

  &__title {
    margin-top: 0;
    &--index {
      display: none;
    }
  }

  &__btn {
    min-height: 55px;
  }

  &__inner {
    display: flex;
    min-height: 56px;
    margin-top: 32px;
  }

  &__text {
    min-height: 45px;
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@include MQ(M) {
  .intro {
    @include center();

    &--index {
      margin-top: 73px;
    }

    &__wrapper {
      box-sizing: border-box;
      width: 660px;
      min-height: 329px;
      padding-right: 20px;
      padding-left: 20px;

      &--index {
        padding-top: 25px;
      }
    }

    &__title {
      @include margin-center();

      width: 480px;

      &--index {
        display: block;
        width: 200px;
        min-height: 140px;
        margin-top: 0;
        margin-left: 51px;
        margin-bottom: 0;
      }
    }

    &__btn {
      width: 300px;
      margin-top: 29px;
    }

    &__inner {
      width: 300px;
      margin-top: 46px;
    }

    &__text {
      width: 300px;
      margin-top: 39px;
      margin-bottom: 110px;
    }
  }
}

@include MQ(L) {
  .intro {
    &--index {
      margin-top: 99px;
    }

    &__wrapper {
      min-height: 284px;
      padding-right: 10px;
      padding-left: 10px;

      &--index {
        width: 960px;
        padding-top: 20px;
      }
    }

    &__title {
      &--index {
        display: block;
        width: 250px;
        min-height: 165px;
        margin-top: 0;
        margin-left: 25px;
        margin-bottom: 0;
      }
    }

    &__btn {
      width: 300px;
      margin-top: 56px;
    }

    &__inner {
      width: 300px;
      margin-top: 68px;
    }

    &__text {
      width: 300px;
      margin-top: 55px;
      margin-bottom: 124px;
    }
  }
}
