.logo {
  display: block;

  width: 75px;
  height: 22px;
}

@include MQ(M) {
  .logo {
    width: 150px;
    height: 41px;

    &--footer {
      width: 150px;
    }
  }
}

@include MQ(L) {
  .logo {
    width: 147px;
    height: 40px;

    &--footer {
      width: 170px;
    }
  }
}
