.logo {
  display: block;

  width: 75px;
  height: 22px;

  &--footer {
    display: block;
    width: 148px;
    height: 40px;
  }

  &__svg-footer {
    &-mobile {
      fill: $primary-color;
      transition: .15s;

      &:hover {
        fill: $third-color;
      }
    }

    &-desktop {
      display: none;
    }
  }

}

@include MQ(M) {
  .logo {
    width: 150px;
    height: 41px;

    &--footer {
      width: 150px;
      margin-bottom: 15px;
    }
  }
}

@include MQ(L) {
  .logo {
    width: 147px;
    height: 40px;

    &__svg {
      &-footer {
        &-mobile {
          display: none;
        }

        &-desktop {
          display: inline;
        }
      }
    }
  }
}
