.main-nav {
  min-height: 326px;
  margin: 0;

  &--nojs {}

  &__toggle {
    position: absolute;
  }

  &__list {
    @include clear-list();
  }

  &__item {
    box-sizing: border-box;

    &--logo {
      min-height: 70px;
    }
  }

  &__link {
    display: block;
    min-height: 64px;
  }
}

@include MQ(M) {
  .main-nav {
    min-height: 366px;

    &__wrapper {
      display: flex;
    }

    &__item {
      &--logo {
        min-height: 110px;
      }
    }

    &__link {
      display: block;
      min-height: 64px;
    }
  }
}

@include MQ(L) {
  .main-nav {
    min-height: 110px;

    &__list {
      display: flex;
      font-weight: wrap;
      width: 960px;
      margin-right: auto;
      margin-left: auto;
    }

    &__item {
      @include center();

      margin-left: 62px;
      padding-right: 10px;
      padding-left: 10px;

      &--logo {
        margin-right: auto;
        margin-left: 0;
      }
    }

    &__link {
      display: inline;
      min-height: 0;
    }
  }
}
