.order-form {
  &__item {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    border: none;

    &--name {
      padding-top: 0;
      padding-bottom: 25px;
    }

    &--achievements {
      padding-bottom: 47px;

      background-color: $twelfth-color;
    }

    &--contacts {
      padding-top: 32px;
      padding-bottom: 25px;
    }

    &--application {
      padding-bottom: 47px;

      background-color: $twelfth-color;
    }

    &--comment {
      //min-height: 321px;
    }
  }

  &__input {
    @include font(18px, 30px);

    box-sizing: border-box;
    width: 100%;
    height: 63px;
    padding-left: 21px;

    font-family: $font-primary;

    border-width: 2px;
    border-style: solid;
    border-color: $fourth-color;
    outline: none;

    transition-duration: .25s;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      border-color: $third-color;
    }

    &-check {
      display: none;

      &:checked + .order-form__label-check::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &-radio {
      display: none;

      &:checked + .order-form__label-radio::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__label {
    @include font(14px, 30px);

    display: block;
    margin-bottom: 5px;
    margin-left: 22px;

    color: $third-color;
    text-transform: uppercase;

    &-check {
      @include font(18px, 30px);

      position: relative;

      display: block;
      padding-left: 69px;

      &::before {
        @include absolute-pseudo-element();

        left: 0;
        top: -4px;

        width: 35px;
        height: 35px;

        background-color: $secondary-color;
        border-width: 2px;
        border-style: solid;
        border-color: $fourth-color;

        transition-duration: .15s;
      }

      &:hover::before {
        border-color: $primary-color;
      }

      &:active::before {
        border-color: $third-color;
      }

      &::after {
        @include absolute-pseudo-element();

        left: 8px;
        top: 7px;

        box-sizing: border-box;
        width: 23px;
        height: 10px;

        border-width: 2px;
        border-style: solid;
        border-color: $third-color;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        visibility: hidden;
        opacity: 0;

        transition-duration: .25s;
      }

      &:active::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &-radio {
      @include font(18px, 30px);

      position: relative;

      display: block;
      padding-left: 69px;
      margin-bottom: 45px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        @include absolute-pseudo-element();

        left: 0;
        top: -4px;

        width: 35px;
        height: 35px;

        background-color: $secondary-color;
        border-width: 2px;
        border-style: solid;
        border-color: $fourth-color;
        border-radius: 50%;

        transition-duration: .25s;
      }

      &:hover::before {
        border-color: $primary-color;
      }

      &:active::before {
        border-color: $third-color;
      }

      &::after {
        @include absolute-pseudo-element();

        left: 12px;
        top: 8px;

        box-sizing: border-box;
        width: 15px;
        height: 15px;

        background-color: $third-color;
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        transition-duration: .15s;
      }

      &:active::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__title {
    @include font-set(400, 14px, 18px);

    margin-top: 0;
      padding-top: 38px;

    color: $third-color;
    text-align: center;
    text-transform: uppercase;

    &--achievements {
      padding-top: 38px;
      margin-bottom: 43px;
    }

    &--contacts {
      display: none;
    }

    &--application {
      margin-bottom: 39px;
    }

    &--comment {
      margin-bottom: 16px;
    }
  }

  &__inner {
    &-name {
      margin-bottom: 17px;
    }

    &-check {
      margin-bottom: 52px;

      &--last {
        margin-bottom: 0;
      }
    }

    &-contacts {
      margin-bottom: 17px;
    }
  }

  &__svg {
    display: none;
  }

  &__textarea {
    @include font(18px, 30px);

    box-sizing: border-box;
    width: 100%;
    height: 201px;
    padding-top: 14px;
    padding-left: 18px;

    font-family: $font-primary;

    border-width: 2px;
    border-style: solid;
    border-color: $fourth-color;
    outline: none;

    transition-duration: .25s;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      border-color: $third-color;
    }
  }

  &__footer {
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  &__btn {
    margin-top: 45px;
    padding-top: 16px;
    padding-left: 28px;

    line-height: 30px;
    text-transform: uppercase;

    background-color: $sixth-color;
    border-radius: 0;
    border: none;
    outline: none;

    transition-duration: .15s;

    &:hover {
      background-color: $fifteenth-color;
    }

    &:active {
      color: transparentize($secondary-color, .7);
    }

    &:disabled {
      color: $secondary-color;

      background-color: $fourth-color;
    }
  }

  &__note {
    @include font(14px, 30px);

    margin: 0;
    padding-top: 35px;

    text-align: center;
    text-transform: uppercase;

    sup {
      color: $third-color;
    }

    &-desktop {
      display: none;
    }
  }
}

@include MQ(M) {
  .order-form {
    display: flex;
    flex-direction: column;

    &__item {
      margin-top: 65px;
      margin-right: 20px;
      margin-left: 20px;
      padding-right: 58px;
      padding-left: 58px;

      border: 2px solid $fourth-color;

      &--name {
        margin: 0;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;

        border: none;
      }

      &--application {
        order: 1;

        padding-bottom: 59px;

        background-color: transparent;
      }

      &--contacts {
        order: 2;

        margin-top: 65px;
        padding-top: 0;
        padding-bottom: 26px;
      }

      &--achievements {
        order: 3;

        padding-bottom: 1px;

        background-color: transparent;
      }

      &--comment {
        order: 4;

        padding-bottom: 48px;
      }
    }

    &__input {
      &--contacts {
        margin-bottom: 10px;
        padding-top: 0px;
        padding-left: 18px;
      }
    }

    &__label {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 18px;

      &-radio {
        padding-left: 59px;
      }

      &--contacts {
        order: 1;

        margin-left: 19px;
      }

      &-check {
        padding-left: 59px;

        &:last-of-type {
          margin-bottom: 52px;
        }
      }
    }

    &__title {
      position: relative;
      top: -10px;
      left: 50%;

      display: inline-block;
      padding-top: 0;
      padding-right: 25px;
      padding-left: 25px;

      vertical-align: top;

      background-color: $secondary-color;
      transform: translateX(-50%);

      &--application {
        margin-bottom: 38px;
      }

      &--contacts {
        margin-bottom: 27px;
      }

      &--achievements {
        margin-bottom: 38px;
      }

      &--comment {
        margin-bottom: 27px;
      }
    }

    &__inner {
      &-name {
        display: flex;
        align-items: center;
        margin-bottom: 52px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &-contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 29px;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }

    &__textarea {
      height: 193px;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      order: 5;

      margin-top: 67px;
      margin-bottom: 36px;
      padding-right: 19px;
    }

    &__btn {
      width: 48.3%;
      margin-top: 0;
      padding-left: 28px;
    }

    &__note {
      @include font(14px, 30px);

      margin: 0;
      padding-top: 0;

      text-align: center;
      text-transform: uppercase;

      sup {
        color: $third-color;
      }
    }
  }
}

@include MQ(L) {
  .order-form {
    @include margin-center();

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;

    &__item {
      width: 100%;
      margin-right: 0;
      margin-left: 0;

      &--name {
        width: 435px;
        margin-top: 15px;
        margin-bottom: 0px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
      }

      &--application {
        width: 435px;
        margin-top: 8px;
        padding-right: 0;
        padding-bottom: 60px;
        padding-left: 0;
      }

      &--achievements {
        padding-bottom: 8px;
      }

      &--contacts {
        padding-right: 0;
        padding-bottom: 13px;
        padding-left: 0;
      }

      &--comment {
        padding-bottom: 40px;
      }
    }

    &__label {
      &-radio {
        margin-bottom: 44px;
      }
    }

    &__title {
      &--application {
        box-sizing: border-box;
        width: 368px;
        margin-bottom: 41px;
      }

      &--contacts {
        margin-bottom: 24px;
      }

      &--comment {
        margin-bottom: 24px;
      }
    }

    &__inner {
      &-contacts {
        padding-bottom: 0px;
        width: 375px;
      }
    }

    &__group {
      padding-left: 74px;

      &--achievements {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      box-sizing: border-box;
      padding-right: 58px;
      padding-left: 58px;

      &-achievements {
        padding-right: 56px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    &__textarea {
      height: 128px;
    }

    &__footer {
      width: 100%;
      margin-top: 65px;
      margin-bottom: 0px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

    &__btn {
      @include font(18px, 30px);

      width: 32%;
    }

    &__note {
      &-desktop {
        display: inline;
      }
    }
  }
}
