.page-header {
  box-sizing: border-box;
  width: 100%;

  background-color: #1d2631;
}

@include MQ(M) {
  .page-header {
    &--index {
      min-height: 984px;
    }
  }
}

@include MQ(L) {
  .page-header {
    &--index {
      min-height: 853px;
    }
  }
}
