.page-footer {
  @include center();

  flex-direction: column;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 41px;

  &--index {
    display: none;
  }

  &__copyright {
    @include center();
    @include font(14px, 18px);

    box-sizing: border-box;

    width: 260px;
    margin: 0;

    color: $primary-color;
    text-decoration: none;

    transition-duration: .2s;



    &:active {
      opacity: .3;
    }
  }

  &__svg-copyright {
    margin-top: 3px;
    margin-left: 14px;

    fill: $third-color;

    transition-duration: .2s;
  }
}

@include MQ(M) {
  .page-footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 127px;
    padding-right: 20px;
    padding-left: 20px;

    &--index {
      display: flex;
    }

    &__copyright {
      display: flex;
      justify-content: flex-end;
      width: 150px;
      margin-top: 3px;
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 34px;

      border: none;
    }
  }
}

@include MQ(L) {
  .page-footer {
    height: 197px;

    &__copyright {
      width: 170px;
      margin-top: 0;

      font-size: 18px;

      &:hover .page-footer__svg-copyright {
        fill: $primary-color;
      }

      &:active .page-footer__svg-copyright {
        opacity: .3;

        fill: $primary-color;
      }
    }

    &__svg-copyright {
      margin-top: 7px;
    }
  }
}
