.price {
  width: 100%;
  padding-top: 91px;
  padding-bottom: 50px;
  overflow: hidden;

  background-color: $twelfth-color;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: -5px 0;
  background-size: contain;

  &__table {
    position: relative;
    left: 50%;
    z-index: 1;

    box-sizing: border-box;
    width: 262.5%;

    border-collapse: collapse;
    transform: translate(-50%);
  }

  &__name {
    @include font-set(700, 18px, 30px);

    box-sizing: border-box;
    width: 280px;
    height: 98px;

    color: $secondary-color;
    text-transform: uppercase;

    background-color: $primary-color;
    border: 2px solid $fourth-color;
    border-top: none;
    border-bottom: none;

    &--transparent {
      display: none;
    }

    span {
      display: block;

      font-weight: 300;
      font-size: 24px;
    }

    &--hit {
      position: relative;
      overflow: hidden;

      &::before {
        @include font-set(400, 14px, 30px);

        content: "хит";
        position: absolute;
        top: 12px;
        left: -38px;

        width: 120px;

        background-color: $third-color;
        transform: rotate(-45deg);
      }
    }
  }

  &__row {
    background-color: $secondary-color;
  }

  &__item {
    @include font(14px, 30px);

    position: relative;

    box-sizing: border-box;
    height: 61px;
    padding-left: 22px;

    text-transform: uppercase;

    border: 2px solid $fourth-color;
    border-top: none;

    &--feature-name {
      display: none;
    }

    &--yes {
      &::before {
        @include absolute-pseudo-element();

        box-sizing: border-box;
        top: 18px;
        right: 18px;

        width: 30px;
        height: 15px;

        border: 3px solid $thirteenth-color;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
      }
    }

    &--no {
      &::before {
        @include absolute-pseudo-element();

        box-sizing: border-box;
        top: 26px;
        right: 15px;

        width: 35px;
        height: 3px;

        background-color: $fourteenth-color;
        border-radius: 5px;
        transform: rotate(-44deg);
      }

      &::after {
        @include absolute-pseudo-element();

        box-sizing: border-box;
        top: 26px;
        right: 15px;

        width: 35px;
        height: 3px;

        background-color: $fourteenth-color;
        border-radius: 5px;
        transform: rotate(45deg);
      }
    }
  }

  &__feature {
    &-status {
      display: none;
    }
  }
}

@include MQ(M) {
  .price {
    padding-top: 88px;
    padding-bottom: 67px;

    &__table {
      width: 620px;
    }

    &__name {
      box-sizing: border-box;
      width: 155px;
      height: 79px;

      font-size: 16px;

      &--transparent {
        display: table-cell;

        border: none;
        border-bottom: 2px solid $fourth-color;
        visibility: hidden;
      }

      &--hit {
        &::before {
          top: 3px;
          left: -39px;
        }
      }

      span {
        font-size: 18px;
        margin-top: -5px;
      }
    }

    &__item {
      height: 47px;
      padding-left: 14px;

      &--feature-name {
        display: table-cell;

        font-size: 14px;
        text-transform: none;
      }

      &--yes {
        &::before {
          top: 0px;
          right: 50%;

          transform: translate(50%, 67%) rotate(-45deg);
        }
      }

      &--no {
        &::before {
          top: 20px;
          left: 50%;

          transform: translate(-50%) rotate(-44deg);
        }

        &::after {
          top: 20px;
          left: 50%;

          transform: translate(-50%) rotate(45deg);
        }
      }
    }

    &__feature {
      &-name {
        display: none;
      }
    }
  }
}


@include MQ(L) {
  .price {
    padding-top: 154px;
    padding-bottom: 95px;

    &__table {
      width: 940px;
    }

    &__name {
      height: 98px;

      font-size: 18px;

      &--hit {
        &::before {
          top: 11px;
          left: -35px;
        }
      }

      span {
        font-size: 24px;
        margin-top: 0;
      }
    }

    &__item {
      width: 25%;
      height: 61px;
      padding-left: 21px;

      &--feature-name {
        font-size: 18px;
      }

      &--yes {
        &::before {
          top: 11px;
          right: 50%;

          transform: translate(50%, 67%) rotate(-45deg);
        }
      }

      &--no {
        &::before {
          top: 27px;
          left: 50%;

          transform: translate(-50%) rotate(-44deg);
        }

        &::after {
          top: 27px;
          left: 50%;

          transform: translate(-50%) rotate(45deg);
        }
      }
    }
  }
}
