.promo-text {
  @include font(14px, 30px);

  box-sizing: border-box;
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;

  &--top {
    padding-top: 45px;
    padding-bottom: 49px;
  }

  &--bottom {
    padding-top: 23px;
    padding-bottom: 42px;
    padding-left: 26px;
  }

  &--form {
    min-height: 170px;
  }
}

@include MQ(M) {
  .promo-text {
    padding-right: 100px;
    padding-left: 100px;

    font-size: 18px;

    &--top {
      padding-top: 92px;
      padding-bottom: 76px;
    }

    &--bottom {
      padding-top: 45px;
      padding-bottom: 69px;
    }

    &--form {
      min-height: 253px;
    }
  }
}

@include MQ(L) {
  .promo-text {
    @include margin-center();

    width: 960px;
    padding-right: 190px;
    padding-left: 190px;

    &--top {
      min-height: 240px;
    }

    &--bottom {
      padding-top: 5px;
      padding-bottom: 66px;
    }

    &--form {
      min-height: 220px;
    }
  }
}
