.range {
  position: absolute;
  top: 119px;
  left: 49.5%;

  box-sizing: border-box;
  display: none;
  width: 75%;
  height: 14px;

  transform: translateX(-50%);

  &--current {
    display: block;
  }

  &__scale {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $primary-color;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 83%;

    width: 10px;
    height: 10px;

    background-color: $twelfth-color;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $third-color;
    transform: translate(-50%, -50%);
  }
}
