.upload-form {
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;

  background: $twelfth-color;

  &__link {
    display: block;
    padding-right: 22px;
    padding-left: 18px;
    font-size: 0;
  }

  &__wrapper {
    box-sizing: border-box;
    width: 100%;
    min-height: 363px;
  }

  &__inner-top {
    position: relative;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 42px;
    padding-right: 20px;
    padding-bottom: 71px;
    padding-left: 20px;

    border-bottom: 1px solid transparentize($primary-color, .9);
  }

  &__svg {
    fill: transparentize($primary-color, .7);

    &--crop {
      margin-top: -2px;
      margin-right: 2px;
    }

    &--fill {
      margin-right: 40px;
      margin-left: 30px;
    }

    &--contrast {
      align-self: center;
      margin-right: 12px;
      margin-bottom: 4px;
    }

    &--current {
      fill: $third-color;
    }
  }

  &__inner-bottom {
    padding-top: 38px;
    padding-right: 22px;
    padding-bottom: 41px;
    padding-left: 18px;
  }

  &__btn {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;

    &--post {
      color: $third-color;

      border-color: $third-color;
    }

    &--cancel {
      margin-top: 12px;

      color: transparentize($primary-color, .9);

      border-color: transparentize($primary-color, .9);
    }
  }
}

@include MQ(M) {
  .upload-form {
    display: flex;
    justify-content: center;

    &__link {
      width: 48.388%;
      margin-right: 20px;
    }

    &__wrapper {
      width: 48.388%;
      min-height: 363px;
    }
  }
}

@include MQ(L) {
  .upload-form {
    @include margin-center();

    width: 940px;
    padding-right: 60px;
    padding-left: 80px;

    &__link {
      width: 300px;
      margin-right: 90px;
    }

    &__wrapper {
      width: 410px;
      min-height: 363px;
    }
  }
}
